---
title: Contact
slug: contact
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 101
editable_elements:
  "/content": "<h2>O Pszczółce</h2>\r\n<p>Misją <strong>Gabinetu Logopedycznego Pszczółka</strong>
    jest <strong>gruntowna diagnoza</strong> (na którą składa się badanie wszystkich
    funkcji psychicznych, fizycznych i ocena rozwoju mowy dziecka) oraz <strong>efektywna
    indywidualna terapia</strong>.</p>\r\n<p>Gabinet Logopedyczny Pszczółka opieką
    obejmuje już <strong>kilkumiesięczne niemowlęta</strong>, gdyż <strong>wczesna
    interwencja logopedyczna</strong> daje dziecku szansę na prawidłowy rozwój.</p>\r\n<p><strong>Stymulacji
    </strong>takiej powinny zostać poddane dzieci, u których zauważa się brak pewnych
    <strong>zachowań komunikacyjnych</strong> (m.in.: brak kontaktu wzrokowego, niepodążanie
    wzrokiem za bliskimi, brak gaworzenia).</p>\r\n<p>U dzieci starszych prowadzona
    jest <strong>terapia wad wymowy</strong>, takich jak: <strong>niezakończony rozwój
    mowy</strong>, <strong>opóźniony rozwój mowy</strong>, <strong>seplenienie</strong>,
    <strong>kapacyzm</strong>,<strong> reranie</strong>.</p>\r\n<p>W zakresie działalności
    <strong>Gabinetu Logopedycznego Pszczółka</strong> leży także <a href=\"/dyslektyk-profilaktyka/_edit\"><strong>profilaktyka
    i terapia dysleksji</strong></a>, diagnozowanie w kierunku <strong>zagrożenia
    dysleksją</strong>, a także <strong>terapia zaburzeń mowy i komunikacji</strong>
    o typie <a href=\"/afazja-alalia-autyzm/_edit\"><strong>afazji</strong>,<strong>
    alalii </strong>i <strong>autyzmu</strong></a>.</p>\r\n<p>Terapia prowadzona jest
    <strong>Metodą Krakowską</strong> i opiera się na <a href=\"/metoda-sylabowa\"><strong>nauce
    czytania </strong></a><strong>metodą symultaniczno-sekwencyjną</strong> autorstwa
    <strong>prof. Jagody Cieszyńskiej</strong>.</p>"
---
{% extends parent %}
{% block main %}
<p>Hello world</p>
{% endblock %}
