---
title: Gabinet Logopedyczny Pszczółka
slug: gabinet-logopedyczny-pszczolka-w-krakowie
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/content: "<h2>O \"Pszcz&oacute;łce\"</h2>\r\n<p>Misją <strong>Gabinetu logopedycznego
    \"Pszcz&oacute;łka\"</strong> jest <strong>gruntowna diagnoza</strong> (na kt&oacute;rą
    składa się badanie wszystkich funkcji psychicznych, fizycznych i ocena rozwoju
    mowy dziecka) oraz <strong>efektywna indywidualna terapia</strong>.</p>\r\n<p>Gabinet
    logopedyczny \"Pszcz&oacute;łka\" obejmuje opieką&nbsp;już <strong>kilkumiesięczne
    niemowlęta</strong>, gdyż <strong>wczesna interwencja logopedyczna</strong> daje
    dziecku szansę na prawidłowy rozw&oacute;j.</p>\r\n<p><strong>Stymulacji </strong>takiej
    powinny zostać poddane dzieci, u kt&oacute;rych zauważa się brak pewnych <strong>zachowań
    komunikacyjnych</strong> (m.in.: brak kontaktu wzrokowego, niepodążanie wzrokiem
    za bliskimi, brak gaworzenia).</p>\r\n<p>U dzieci starszych prowadzona jest <strong>terapia
    wad wymowy</strong>, takich jak: <strong>niezakończony rozw&oacute;j mowy</strong>,
    <strong>op&oacute;źniony rozw&oacute;j mowy</strong>, <strong>seplenienie</strong>,
    <strong>kapacyzm</strong>,<strong> reranie</strong>.</p>\r\n<p>W zakresie działalności
    <strong>Gabinetu logopedycznego \"Pszcz&oacute;łka\"</strong> leży także <a href=\"/dysleksja\"><strong>profilaktyka
    i terapia dysleksji</strong></a>, diagnozowanie w kierunku <strong>zagrożenia
    dysleksją</strong>, a także <strong>terapia zaburzeń mowy i komunikacji</strong>
    o typie <a href=\"/zaburzenia-komunikacji-jezykowej\"><strong>afazji</strong>,
    <strong> alalii </strong>i <strong>autyzmu</strong></a>.</p>\r\n<p>Terapia prowadzona
    jest <strong>Metodą Krakowską</strong>, kt&oacute;rej integralną częścią jest
    <a href=\"/nauka-czytania\"><strong>nauka czytania</strong></a> <strong>metodą
    symultaniczno-sekwencyjną</strong> autorstwa <strong>prof. Jagody Cieszyńskiej</strong>.</p>"
---
{% extends 'parent' %}