---
title: Contact

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

%h2
  Kontakt i Cennik

%p
  Gabinet Logopedyczny Pszczółka w Krakowie

mgr Maria Bigaj – logopeda  - Kraków**                                         mgr  Justyna Guzik – logopeda – Kraków**
Tel.: +48 512 237 215                                                                                   Tel.: +48 692 904 155

E-mail: gabinet@logopszczolka.pl

Gabinet Logopedyczny w Krakowie                                                     (mała mapka)
ul. Moniuszki 18/9
31-523 Kraków
NIP: 736-147-55-96

Terapia logopedyczna prowadzona jest w trybie indywidualnym.
Regularne spotkanie z logopedą trwa godzinę zegarową.

Rodzaj spotkania        Cena**
Spotkanie terapeutyczne 60PLN / 1 godz.
Diagnoza        60PLN / 1 godz.*
* Czas trwania diagnozy jest uzależniony od rodzaju zaburzenia i predyspozycji dziecka.

**Każdy logopeda prowadzi zajęcia w gabinecie w Krakowie, istnieje także możliwość  dojazdu do miejsca zamieszkania dziecka niepełnosprawnego na terenie miasta Kraków i jego okolic.
Koszt i plan terapii logopedycznej ustalany jest w takim przypadku z logopedą indywidualnie.


{% endblock %}