---
title: Kontakt i Cennik
slug: kontakt-cennik
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
editable_elements:
  main/content: "<h2>Kontakt</h2>\r\n<div class=\"row\">\r\n<div class=\"col-md-6\">\r\n<p><strong>Pracownicy
    gabinetu logopedycznego \"Pszcz&oacute;łka\" w Krakowie</strong></p>\r\n<p>mgr
    Maria Bigaj - logopeda - Krak&oacute;w<br /> Tel.: +48 512 237 215</p>\r\n<p>mgr
    Anna Kostyra - logopeda - Krak&oacute;w<br /> Tel. +48 696 625 680</p>\r\n<p>mgr
    Olga Kogut - logopeda - Krak&oacute;w<br /> Tel. +48 660 696 286</p>\r\n<p>E-mail:
    <a href=\"mailto:gabinet@logopszczolka.pl\">gabinet@logopszczolka.pl</a></p>\r\n<p><strong>Gabinet
    Logopedyczny w Krakowie</strong></p>\r\n<p>ul. Moniuszki 18/9&nbsp;<br /> 31-523
    Krak&oacute;w</p>\r\n<p>NIP: 736-147-55-96</p>\r\n</div>\r\n<div class=\"col-md-6\">\r\n<div
    id=\"contact-map\">\r\n<div id=\"google-maps-canvas\"><iframe frameborder=\"0\"
    src=\"https://www.google.com/maps/embed/v1/place?q=Pszcz&oacute;łka.+Gabinet+logopedyczny.+Bigaj+M.,+Stanisława+Moniuszki,+Krak&oacute;w,+Poland&amp;key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU\"></iframe></div>\r\n</div>\r\n</div>\r\n</div>\r\n<p>&nbsp;</p>\r\n<h2>Cennik</h2>\r\n<div
    class=\"panel panel-default\">\r\n<div class=\"panel-body\">\r\n<table class=\"table
    table-hover\" style=\"width: 100%;\" border=\"0\" cellpadding=\"0\">\r\n<tbody>\r\n<tr><th>Rodzaj
    spotkania</th><th>Cena</th></tr>\r\n<tr>\r\n<td>\r\n<p>Spotkanie terapeutyczne</p>\r\n</td>\r\n<td>\r\n<p>60
    PLN / 1 godz.</p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>\r\n<p>Diagnoza z wystawieniem
    pisemnej opinii</p>\r\n</td>\r\n<td>\r\n<p>100 PLN / 1 godz.</p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</div>\r\n</div>\r\n<p>Każdy
    rodzic/opiekun po odbytej <strong>diagnozie logopedycznej</strong> otrzymuje <strong>pisemną
    opinię</strong> zawierającą opis umiejętności i trudności dziecka. Kluczowe elementy
    diagnozy logopedycznej to lateralizacja, analiza i synteza wzrokowa, motoryka,
    grafopercepcja, artykulacja i komunikacja, pamięć i percepcja słuchowa.</p>\r\n<p><strong>Terapia
    logopedyczna</strong> prowadzona jest w trybie indywidualnym. Regularne spotkanie
    z <strong>logopedą</strong> trwa godzinę zegarową. Czas trwania diagnozy jest
    uzależniony od rodzaju zaburzenia i predyspozycji dziecka.</p>\r\n<p>Każdy <strong>logopeda
    </strong>prowadzi zajęcia w <strong>gabinecie</strong> <strong>w Krakowie</strong>,
    istnieje także możliwość dojazdu do miejsca zamieszkania dziecka niepełnosprawnego
    na terenie miasta<strong> Krak&oacute;w</strong> i jego okolic. Koszt i plan <strong>terapii
    logopedycznej</strong> ustalany jest w takim przypadku z <strong>logopedą </strong>indywidualnie.</p>"
---
{% extends parent %}

{% block main %}
{% editable_text 'content' %}

<h2>Kontakt i Cennik</h2>

<div class="row">
 <div class="col-md-6">
    <p><strong>Gabinet Logopedyczny Pszczółka w Krakowie</strong></p>
    <p>mgr Maria Bigaj &ndash; logopeda - Kraków**<br /> Tel.: +48 512 237 215</p>
    <p>mgr Justyna Guzik &ndash; logopeda - Kraków**<br /> Tel. +48 692 904 155</p>
    <p>E-mail: <a href="mailto:gabinet@logopszczolka.pl">gabinet@logopszczolka.pl</a></p>
 </div>
 <div class="col-md-6">
    <p><strong>Gabinet Logopedyczny w Krakowie</strong></p>
    <p>ul. Moniuszki 18/9<br /> 31-523 <strong>Kraków </strong></p>
    <p>NIP: 736-147-55-96</p>
 </div>
</div>

    <p><strong>Terapia logopedyczna</strong> prowadzona jest w trybie indywidualnym.</p>
    <p>Regularne spotkanie z <strong>logopedą</strong> trwa godzinę zegarową.</p>

<table style="width: 100%;" border="0" cellpadding="0" class="table">
<tbody class="table-hover">
<tr>
<td>
<p><strong>Rodzaj spotkania</strong></p>
</td>
<td>
<p><strong>Cena**</strong></p>
</td>
</tr>
<tr>
<td>
<p>Spotkanie terapeutyczne</p>
</td>
<td>
<p>60PLN / 1 godz.</p>
</td>
</tr>
<tr>
<td>
<p>Diagnoza</p>
</td>
<td>
<p>60PLN / 1 godz.*</p>
</td>
</tr>
</tbody>
</table>
<p><sup>*</sup> Czas trwania diagnozy jest uzależniony od rodzaju zaburzenia i predyspozycji dziecka.</p>
<p>&nbsp;</p>
<p>**Każdy <strong>logopeda </strong>prowadzi zajęcia w <strong>gabinecie</strong> <strong>w Krakowie</strong>, istnieje także możliwość&nbsp; dojazdu do miejsca zamieszkania dziecka niepełnosprawnego na terenie miasta<strong> Kraków</strong> i jego okolic.</p>
<p>Koszt i plan <strong>terapii logopedycznej</strong> ustalany jest w takim przypadku z <strong>logopedą </strong>indywidualnie.</p>

{% endeditable_text %}
{% endblock %}