---
title: Logopeda radzi
slug: logopeda-radzi
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 107
editable_elements:
  "/content": "<h2>Logopeda radzi - Porady logopedy</h2>\r\n<p><strong>Anna: </strong></p>\r\n<p><em>Czy
    skuteczniejsze są <strong>zajęcia logopedyczne</strong> w domu czy w <strong>gabinecie
    logopedycznym</strong>?</em></p>\r\n<p><strong>Pszcz&oacute;łka - Gabinet Logopedyczny
    w Krakowie: </strong></p>\r\n<p><strong>Gabinet logopedyczny</strong> sprzyja
    koncentracji i wydajnej pracy. Przyjaźnie urządzony, wyposażony we wszystkie pomoce
    niezbędne przy <strong>terapii wad wymowy</strong> i <strong>zaburzeń komunikacyjnych
    </strong>zapewnia wygodę i spok&oacute;j, daje poczucie bezpieczeństwa, komfortu
    i spokoju.</p>\r\n<p>W domu, gdzie krzątają się bliscy, pełno jest wok&oacute;ł
    zabawek i atrakcji, często trudno o skupienie i mobilizację, kt&oacute;ra jest
    niezmiernie ważna w <strong>terapii logopedycznej</strong>.</p>\r\n<p>W niekt&oacute;rych
    przypadkach jednak <strong>terapia logopedyczna</strong> w domu jest konieczna
    (dzieci niepełnosprawne, mające problemy z poruszaniem się, źle znoszące podr&oacute;ż,
    etc.).</p>\r\n<p>W tych wyjątkowych okolicznościach, trzeba <strong>diagnozę i
    terapię logopedyczną</strong> ustalić indywidualnie z <strong>logopedą</strong>.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Grażyna:</strong></p>\r\n<p><em>Czy
    u <strong>logopedy </strong>powinna przebywać z dzieckiem mama?</em></p>\r\n<p><strong>Pszcz&oacute;łka
    - Gabinet Logopedyczny w Krakowie: </strong></p>\r\n<p>Wszystko zależy od wieku
    i zaburzenia, z jakim u <strong>logopedy</strong> pojawia się dziecko<strong>.
    </strong>Jeśli jest bardzo malutkie lub niesamodzielne, z poważnymi problemami
    zdrowotnymi wskazane jest, by w <strong>gabinecie logopedycznym</strong> asystował
    mu rodzic<strong>. </strong>Dzieci starsze, samodzielne ćwiczą tylko z <strong>logopedą</strong>.</p>\r\n<p>Ważne
    jest jednak to, by po każdych zajęciach rodzic znalazł czas, by om&oacute;wił
    z <strong>logopedą p</strong>ostępy <strong>terapii logopedycznej</strong>, odebrał
    zalecenia &ndash; ćwiczenia do wykonania w domu.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Zosia:</strong></p>\r\n<p><em>Czy
    możliwe jest, że u dziecka występuje zar&oacute;wno <strong>seplenienie</strong>,
    <strong>reranie</strong>, jak i <strong>kapacyzm</strong>? Co jest powodem, że
    występują te wszystkie <strong>wady wymowy</strong>?</em></p>\r\n<p><strong>Pszcz&oacute;łka
    - Gabinet Logopedyczny w Krakowie: </strong></p>\r\n<p>Najlepiej podłożem wszystkich
    tych <strong>wad wymowy</strong> jest obniżona sprawność artykulacyjna, ograniczona
    nieruchomość języka, kt&oacute;ra uniemożliwia jego pionizację przy głoskach sz,
    ż, cz, dż (<strong>seplenienie</strong>), głosce r (<strong>reranie</strong>)
    i cofanie do tyłu przy głoskach k i g (<strong>kapacyzm</strong>). Zalecana jest
    wobec dziecka wnikliwa <strong>diagnoza logopedyczna</strong> i zastosowanie <strong>terapii
    wad wymowy</strong> w odpowiedniej kolejności. Im szybciej dziecko zostanie objęte
    opieką <strong>logopedy</strong>, tym większa szansa na wypracowanie <strong>poprawnej
    wymowy</strong>.</p>\r\n<p>&nbsp;</p>\r\n<p><strong>Barbara:</strong></p>\r\n<p><em>Czy
    pediatra jest w stanie wykryć <strong>autyzm</strong>?</em></p>\r\n<p><strong>Pszcz&oacute;łka
    - Gabinet Logopedyczny w Krakowie: </strong></p>\r\n<p>Pediatra podczas badania
    powinien zwr&oacute;cić uwagę na nietypowe zachowanie dziecka, nie chęć do <strong>komunikacji
    językowej</strong>, wzrokowej, dotykowej. Zdarza się, że takie objawy bywają bagatelizowane
    i tłumaczone nieśmiałością, złym nastrojem dziecka. Gdy już dziecko roczne nie
    m&oacute;wi, nie komunikuje się, nie reaguje na polecenia powinien je <strong>zdiagnozować
    logopeda</strong>. <strong>Autyzm</strong> wykryty wcześnie, intensywna <strong>terapia
    logopedyczna</strong>, systematyczna praca z <strong>logopedą </strong>i w domu
    może przynieść naprawdę spektakularne rezultaty.</p>"
---
{% extends 'parent' %}