---
title: Nauka czytania
slug: nauka-czytania
listed: true
published: true
cache_strategy: simple
response_type: text/html
position: 5
editable_elements:
  main/content: "<h2>Nauka czytania</h2>\r\n<p>Przez<strong> Gabinet logopedyczny
    \"Pszcz&oacute;łka\"</strong> realizowana jest także <strong>wczesna nauka czytania
    metodą symultaniczno-sekwencyjną.</strong></p>\r\n<p><strong>Metoda symultaniczno-sekwencyjna</strong>
    jest <strong>metodą sylabową,</strong> opartą na najnowszych badaniach neuropsychologicznych
    oraz wieloletnich doświadczeniach terapeutycznych i logopedycznych <strong>prof.
    Jagody Cieszyńskiej.</strong></p>\r\n<p><strong>Metoda sylabowa: </strong></p>\r\n<ul>\r\n<li>\r\n<p>uczy
    czytać przez znaczenie,</p>\r\n</li>\r\n<li>\r\n<p>ułatwia dokonywanie syntezy,</p>\r\n</li>\r\n<li>\r\n<p>zapobiega
    <strong>dysleksji</strong>,</p>\r\n</li>\r\n<li>\r\n<p>uwzględnia reguły rozwoju
    języka,</p>\r\n</li>\r\n<li>\r\n<p>ułatwia tworzenie systemu językowego,</p>\r\n</li>\r\n<li>\r\n<p>usprawnia
    <strong>technikę czytania</strong>,</p>\r\n</li>\r\n<li>\r\n<p>pobudza neurony
    zwierciadlane.</p>\r\n</li>\r\n</ul>"
---
{% extends 'parent' %}

{% block main %}
{% editable_text 'content' %}

<h2>Nauka czytania</h2>

<p>Przez<strong> Gabinet Logopedyczny Pszczółka</strong> realizowana jest także <strong>wczesna nauka czytania
metodą symultaniczno-sekwencyjną.</strong></p>
<p><strong>Metoda symultaniczno-sekwencyjna</strong> jest <strong>metodą sylabową</strong> opartą na najnowszych
badaniach neuropsychologicznych i wieloletnich doświadczeniach terapeutycznych i logopedycznych
<strong>prof. Jagody Cieszyńskiej.</strong></p>
<p><strong>Metoda sylabowa: </strong></p>
<ul>
<li>
<p>uczy czytać przez znaczenie,</p>
</li>
<li>
<p>ułatwia dokonywanie syntezy,</p>
</li>
<li>
<p>zapobiega <strong>dysleksji, </strong></p>
</li>
<li>
<p>uwzględnia reguły rozwoju języka,</p>
</li>
<li>
<p>ułatwia tworzenie systemu językowego,</p>
</li>
<li>
<p>usprawnia <strong>technikę czytania,</strong></p>
</li>
<li>
<p>pobudza neurony zwierciadlane.</p>
</li>
</ul>

{% endeditable_text %}
{% endblock %}